@model AutoFull.ViewModels.IndexViewModel

<div class="row">
    @foreach (Marca m in Model.Marcas)
    {
        <div class="col-md-6 col-lg-3 col-sm-6">
            <div class="card border-3 border-primary">
                <a asp-action="Details" asp-controller="Marca" asp-route-id="@m.Id"><img src="@m.PathToPhoto" class="card-img-top img-fluid" alt="#" style="height: 200px"></a>
                <div class="card-body ps-0 pb-0">
                    <a asp-action="Details" asp-controller="Marca" asp-route-id="@m.Id" style="text-decoration: none"><h6 class="text-center">@m.Name</h6></a>
                </div>

                <div class="rating mb-2">
                    @for (int i = 1; i <= 5; i++)
                    {
                    if (i <= m.AverageRating)
                    {
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    }
                    else if (i - m.AverageRating < 1)
                    {
                    <i class="fa-solid fa-star-half-stroke" style="color: #FFD43B;"></i>
                    }
                    else
                    {
                    <i class="fa-regular fa-star"></i>
                    }
                    }
                </div>
                <p class="mb-2">(@m.AverageRating, @ViewBag.FeedbackCount отзывов)</p>

                <div>
                    <i class="fa-solid fa-camera"></i>
                    <span>@m.Feedbacks.Count фотографий</span>
                </div>
                
            </div>
        </div>
    }
</div>

<div class="d-flex justify-content-center mt-5">
    <nav>
        <ul class="pagination text-success">
            @if (Model.PageViewModel.HasPreviousPage)
            {
                <li class="page-item">
                    <button type="button" onclick="changePage('@(Model.PageViewModel.PageNumber - 1)')" class="page-link">Предыдущая</button>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link">Предыдущая</a>
                </li>
            }
            
            @if (Model.PageViewModel.PageNumber > 3)
            {
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            }
            @for (int i = Math.Max(1, Model.PageViewModel.PageNumber - 2); i < Model.PageViewModel.PageNumber; i++)
            {
                <li class="page-item">
                    <button class="page-link" type="button" onclick="changePage('@i')"  >@i</button>
                </li>
            }
            <li class="page-item active">
                <button class="page-link" type="button" onclick="changePage('@Model.PageViewModel.PageNumber')" >@Model.PageViewModel.PageNumber</button>
            </li>
            @for (int i = Model.PageViewModel.PageNumber + 1; i <= Math.Min(Model.PageViewModel.TotalPages, Model.PageViewModel.PageNumber + 2); i++)
            {
                <li class="page-item">
                    <button class="page-link" type="button" onclick="changePage('@i')">@i</button>
                </li>
            }

            @if (Model.PageViewModel.PageNumber < Model.PageViewModel.TotalPages - 2)
            {
                <li class="page-item disabled">
                    <span class="page-link disabled">...</span>
                </li>
            }

            @if (Model.PageViewModel.HasNextPage)
            {
                <li class="page-item">
                    <button class="page-link" type="button" onclick="changePage('@(Model.PageViewModel.PageNumber+1)')">Следующая</button>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link">Следующая</a>
                </li>
            }
        </ul>
    </nav>
</div>