@model Cart

<div class="d-flex flex-column py-3">
    <h5 class="text-center mb-3">Корзина</h5>
    <div class="overflow-auto" style="height: 600px;">
        @foreach (CartAuto cartAuto in Model.CartAutos)
        {
            <div class="d-flex justify-content-between border border-1 rounded-2 mb-3 px-3 pt-2">
                <h5 class="text-wrap text-break">@cartAuto.Auto.Name</h5>

                <div class="d-flex align align-items-start">
                    <p class="me-2">@cartAuto.Auto.Price $ | x @cartAuto.Quantity</p>
                    <button onclick="deleteFromCart('@cartAuto.Id')" type="button" class="btn-close text-danger" aria-label="Close"></button>
                </div>
            </div>
        }
    </div>
</div>

<div class="text-center border border-2 py-3 bg-light mt-auto">
    <p class="fw-bold">Общая сумма: @Model.CartAutos.Sum(ca => ca.Auto.Price * ca.Quantity) сом</p>
    <a class="btn btn-outline-success" id="orderBtn" data-bs-toggle="modal" data-bs-target="#orderModal">Оформить заказ</a>
</div>